* {
  margin: 0;
  padding: 0;
}
.container {
  width: 800px;
  .table-heading {
    padding: 5px;
    font-weight: bold;
  }
  table {
    border: 2px solid black;
    border-collapse: collapse;
    width: 750px;
    text-align: center;
    margin-bottom: 20px;
    background-image: linear-gradient(rgb(202, 171, 171), rgb(211, 211, 211), rgba(201, 201, 241, 0.808));
    td,
    th {
      border: 1px solid black;
      padding: 5px;
    }
  }
}
